.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: midnightblue;
}

.App-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 25rem;
  height: auto;
  background-color: white;
  border-radius: 15px;
  box-shadow: 10px 10px 17px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 17px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 17px 0px rgba(0,0,0,0.75);
}
button{
  width: 13.5rem;
  margin-left: 50%;
  transform: translateX(-50%);
}
input{
  margin-bottom: 1rem;
}
h3{
  margin-bottom: 0%;
  margin-top: 0%;
  color: dimgray;
}
h1{
  margin-bottom: 4rem;
}
a{
  text-decoration: none;
  font-size: 1.2rem;
}
.App-link{
  margin-bottom: 1rem
}